@page "/"

<h1 style="font-family: Chiller; font-size: 56pt;">Terrible Tacos Realestate management</h1>

Add, list and shut down your realestate here!
Manage restaurants, warehouses, inspections and more.


