@page "/"

<h1 style="font-family: 'chiller'; font-size: 72px; color: maroon">Terrible Tacos Online</h1>

Where Taco does wonders

<SurveyPrompt Title="How 'bout a delishious Taco today?" />
<img width="640" height="320"
     src="https://hips.hearstapps.com/del.h-cdn.co/assets/18/11/1520956952-chicken-tacos-horizontal.jpg" />